<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>SmartSearch</title>
	<!-- Custom Theme files -->
	<link href="../static/css/self.css" th:href="@{/css/self.css}" rel="stylesheet" type="text/css" media="all"/>
	<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all"/>
	<script src="../static/js/jquery-3.2.1.js" th:src="@{/js/jquery-3.2.1.js}"></script>
	<!-- Custom Theme files -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Flat Search Box Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
	<!--Google Fonts-->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
	<!--Google Fonts-->

</head>
<body>
<!--search start here-->
<!--为什么显示不出来呢-->

<div class="logo">
	<img  src="../static/images/SmartSearch.png" th:src="@{/images/SmartSearch.png}" >
</div>

<div class="search">
	<i> </i>
	<div class="s-bar">
		<form id='test_form' action='/Search/SearchMethods' method='get'>
			<input name="searchText" class="form-control" type="text"   onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search In A Smart Way';}">
			<input type="submit"  value="Search"/>
		</form>
	</div>
</div>

<form enctype="multipart/form-data" action="/indexFile/CreateIndex" method="post">
	<input type="file" name="files" multiple/>
	<input type="submit" value="Submit"/>
</form>

<div>
	<div class="mui-input-group lod-form">
		<h1 style="text-align: center;font-max-size: large;font-family: Elephant"  >Tips</h1><br/>
		<ul>
			<li>1、使用AND、OR、+、-等可实现多词逻辑搜索  例：hello OR world</li>
			<li><strong>2、在搜索词的最后加上~可以实现模糊搜索</strong>  例：战~</li>
			<li><strong>3、使用*、?等可实现通配符搜索</strong>  例：美*</li>
			<li><strong>4、可实现在特定域中搜索</strong>  例：fileName:test1 fileContent:hello</li>
			<br/>
			<li>注：1.如果您还没有上传文件作为您的搜索索引文件，请点击左边的浏览按钮</li>
			<li>2.在上传txt文件时请将文件修改为UTF-8</li>
			<li>3.本软件配合IE浏览器食用口味更佳</li>
		</ul>
	</div>
</div>
<div class="copyright">
	<p>2015 &copy Flat Search Box All rights reserved | Template by  <a href="http://w3layouts.com/" target="_blank">  W3layouts </a></p>
</div>
</body>
<script>
    function upload(){
        var importFilePath = $("#importFile").val();
        alert(importFilePath);
        $("#filePath").val(importFilePath);
    }

</script>
</html>